// this is the flippeable class 

.card {
    perspective:  1000px; 
    height: var(--height);
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;

    transform-style: preserve-3d;
    // test
    transition: transform 1000ms;

    //move
    animation: move 1s ease-in-out forwards;

  
}

// .move .flip-exit-done {
//     animation: move 1s ease-in-out forwards;
// }

@keyframes move-card {
    from {
        top: var(--start-top);
        left: var(--start-left);
    }

    to {
        top: var(--end-top);
        left: var(--end-left);
    }
}


.move {
    animation-name: move-card;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.card-content img {
    border-radius: 10px;
}  

.card-image-front,
.card-image-back {
    height: 100%;
    width: 100%;

    // stack them on top of each other
    position: absolute; 

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

} 


.card-image-front {
    transform: rotateY(180deg);
}

.card-image-back {
    border-radius: 10px;
}

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 600ms;
}

.flip-exit-done {
    transform: rotateY(180deg);
}

