// this is the flippeable class 
.card {
    perspective:  1000px;
    
}

// .card:hover {
//     z-index: 9999;
// }

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

    transform-style: preserve-3d;
    border-radius: 10px;
    // test
    transition: transform 1000ms;
}

// .card-content:hover {
//     transform: rotateY(180deg);
// }

.card-content img {
    border-radius: 10px;
}  

.card-image-front,
.card-image-back {
    height: 100%;
    width: 100%;

    // stack them on top of each other
    position: absolute; 

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

} 

// .card-image-front:hover {
//     position: absolute;

// }
.card-image-front {
    transform: rotateY(180deg);
    

}

.card-image-back {
    border-radius: 10px;
}

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 300ms;
}

.flip-exit-done {
    transform: rotateY(180deg);
}

