.game-board {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 90%;
    max-width: 1600px;
    max-height: 1500px;
    min-height: 430px;
    border: 5px solid black;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 70px;
    /* background: linear-gradient(to right, var(--black-olive) 0%,
     var(--black-olive) 50%, var(--secondary-color) 50%, var(--secondary-color) 100%), url('../.././public/comp.png'); */
    /* background-image: url('../.././public/chakana.png') ; */
    /* background-repeat: no-repeat;
    background-size: 80%;  
    background-position-y: center; 
    background-position-x: center; */
    /* background-blend-mode: multiply;  */

    background: linear-gradient(to right, #131436 0%,
                #399afd 50%,
                #e5b872 50%, rgb(137 6 0) 100%), url("./taca.png"), url('./chakanabg.png');
        /* Set the size of both backgrounds */
        background-size: 100%, calc(90vh), calc(70vh);
    
        /* Set the position of the gradient to the center */
        background-position: center, left calc(50% - 0.27rem) top calc(-40%), center 0.5em;
        /* Set the blend mode to multiply */
        background-blend-mode: saturation;
        /* Prevent the background image from repeating */
        background-repeat: no-repeat;
        /* z-index: 10; */
        /* Add a filter shadow */
        /* background-color: rgba(0, 0, 0, 0); */
        /* 50% opacity */
}
/* .game-board::before {
    content: ""
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../.././public/taca.png");
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
} */



.moon {
    opacity: 0.2 ;
    margin-top: 100px;
    margin-left: 10px;
    height: fit-content;
    
}

.sun {
    opacity: 0.37 ;
    width: 330px;
    margin-top: 100px;
    height: fit-content;
}

.sun img {
    width: 100%;
    /* filter: drop-shadow(0.3rem 0.3rem 0.6rem var(--greyLight-2)) drop-shadow(-0.2rem -0.2rem 0.5rem var(--white)); */
}
.moon img {
    width: 100%;
    /* filter: drop-shadow(0.3rem 0.3rem 0.6rem var(--greyLight-2)) drop-shadow(-0.2rem -0.2rem 0.5rem var(--white)); */
}

/* img[src='/jogo_divino/placeholders/10.png']{
    z-index: 0;
}
img[src='/jogo_divino/placeholders/5.png']{
    z-index: 0;
}
img[src='/jogo_divino/placeholders/3.png']{
    z-index: 0;
} */

.card-image-front-board[src^='/jogo_divino/placeholders/'] {
    z-index: 0 !important;
}


img[src='/jogo_divino/9 - O SACERDOTE.png']{
    z-index: 4;
}
img[src='/jogo_divino/8 - O POLÍTICO.png']{
    z-index: 5;
}
img[src='/jogo_divino/7 - O APRENDIZ.png']{
    z-index: 6;
}

img[src='/jogo_divino/1 - A CRIAÇÃO.png']{
    z-index: 3;
}
img[src='/jogo_divino/2 - O AMANTE.png']{
    z-index: 3;
}
img[src='/jogo_divino/10 - O LOUCO.png']{
    z-index: 3;
}
img[src='/jogo_divino/3 - O GOVERNANTE.png']{
    z-index: 4;
}
img[src='/jogo_divino/4 - O SÁBIO.png']{
    z-index: 5;
}
img[src='/jogo_divino/5 - O INOCENTE.png']{
    z-index: 5;
}