/* .header {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    text-shadow: 2px 2px 0 #333;
    text-align: center;
    margin: 2rem 0;
    
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    max-width: 2000px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(137 6 0) 0%,
            rgb(137 6 0) 50%,
            #131436 50%, #131436 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 30px 60px;
    z-index: 10;
}

.header__title {
    font-size: 24px;
    font-weight: bold;
}

.header__menu {
    position: relative;
    font-size: 28px;
    font-weight: bolder;
    color: black;
    
}

.header__menu-toggle {

    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.header__menu-dropdown {
    position: absolute;
    top: 100%;
    /* right: 0; */
    left: 0;
    width: 200px;
    padding: 0px;
    background-color: var(--secondary-color);
    border: 1px solid black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header__menu-dropdown a {
    display: block;
    padding: 7px 10px;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}

.header__menu-dropdown a:hover {
    background-color: #f2f2f2;
}

.header__logo {
    margin: 0 auto;
}

.header__logo img {
    max-height: 90px;
    max-width: 620px;
    margin-left: 10px;
}