
.spread-board {
    position: relative;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
    margin: 20px;
    padding-left: var(--width);
    // padding-right: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    // height: fit-content;

    cursor: pointer;
}



.spread-board::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 120px;
    right: 59px;
    bottom: 30px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 13px;
    transition: border-width 0.9s ease-out;
    animation: pulse 1s infinite;
    // height: fit-content;
    

}

.spread-board.active::before {
    animation-play-state: paused;
    border: none;
}

.spread-board:hover::before {
    z-index: -1;
}

.spread-board .card {
    transition: transform 0.4s ease-in-out;
    // height: --height;
}

.spread-board .card:hover {
    transform: scale(1.15);
}

@keyframes pulse2 {
    0% {
        transform: scale(1);
        /* start with the original size */
    }

    50% {
        transform: scale(1.02);
        /* increase the size by 20% */
    }

    100% {
        transform: scale(1);
        /* return to the original size */
    }
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(216, 206, 174, 0.7);
    }

    70% {
        box-shadow:  0px  0px 0px 20px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}