@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');

:root {
    /* colors */
    --body-bg: #FAFAFA;
    --page-bg: rgb(248 225 178);
    --dark-text: #2A2935;

    /* spacing */
    /* this is what defines the global scale */
    --baseline: min(1.76vh, 1.3vw);

    /* fonts */
    --book-title: 'Tulpen One', sans-serif;
    --title: 'Cormorant Garamond', serif;
    --body: 'Cormorant Garamond', serif;
    --base-size: var(--baseline) * 1.2;
}

// * {
//     box-sizing: border-box;
// }

// body {
//     background-color: var(--body-bg);
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

.cover {
    // width: calc(var(--baseline) * 60);
    // height: calc(var(--baseline) * 42.6);
    width: calc(var(--baseline) * 69);
    height: calc(var(--baseline) * 49.4);
    box-shadow: 0 0 100px rgba(0, 0, 0, .3);
    border: 5px solid rgb(26, 26, 26);
    border-radius: inherit;
}

.book {
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 1200px;
    border-radius: inherit;

    &__page {
        position: relative;
        width: 50%;
        height: 100%;
        display: grid;
        transform: rotateY(0deg);
        transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
        transform-origin: 0% 0%;
        background-color: var(--page-bg);
        background-image: linear-gradient(90deg, rgba(227, 227, 227, 1) 0%, rgba(247, 247, 247, 0) 18%);

        &:nth-of-type(1) {
            background-image: linear-gradient(-90deg, rgba(227, 227, 227, 1) 0%, rgba(247, 247, 247, 0) 18%);
        }

        &--1 {
            cursor: pointer;
            overflow: hidden;

            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        &--2 {
            position: absolute;
            right: 0;
            pointer-events: none;
            transform-style: preserve-3d;
            background-color: var(--page-bg);
            background-image: linear-gradient(90deg, rgba(227, 227, 227, 1) 0%, rgba(247, 247, 247, 0) 18%);
        }

        &--4 {
            cursor: pointer;
            padding: 0 calc(var(--baseline) * 3);
        }

        &-front {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotateY(0deg) translateZ(1px);
        }

        &-back {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0 calc(var(--baseline) * 1.8);
            transform: rotateY(180deg) translateZ(1px);
        }

        .page__content {
            padding: var(--baseline);
            height: 100%;
            position: relative;
            text-align: center;

            &-book-title {
                font-family: var(--book-title);
                font-size: calc(var(--base-size) * 3);
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: var(--dark-text);
                margin-top: calc(var(--baseline) * 5);
                margin-bottom: calc(var(--baseline) * 2);
            }

            &-author {
                font-family: var(--title);
                font-size: calc(var(--base-size) * 1.2);
                font-weight: 100;
                text-transform: uppercase;
                color: var(--dark-text);
                border-top: 1px solid var(--dark-text);
                border-bottom: 1px solid var(--dark-text);
                display: inline-block;
                padding: calc(var(--baseline) / 2) calc(var(--baseline) / 5);
                margin-bottom: calc(var(--baseline) * 6);
            }

            &-credits {
                font-family: var(--title);
                text-transform: uppercase;
                font-size: calc(var(--base-size) * 0.8);
                margin-bottom: calc(var(--baseline) * 2);
                letter-spacing: 1px;

                span {
                    display: block;
                    font-size: calc(var(--base-size) * 1.2);
                    letter-spacing: 0;
                }
            }

            &-copyright {
                position: absolute;
                width: calc(100% - (var(--baseline) * 2));
                bottom: calc(var(--baseline) * 2);
                font-family: var(--title);
                font-size: calc(var(--base-size) * 0.8);
                text-transform: uppercase;
            }

            &-title {
                font-family: var(--title);
                font-size: calc(var(--base-size) * 1);
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-top: calc(var(--baseline) * 5);
                margin-bottom: calc(var(--baseline) * 3);
            }

            &-table {
                width: 100%;
                margin-top: calc(var(--baseline) * 2);

                td {
                    font-family: var(--title);
                    font-size: calc(var(--base-size) * 1);
                    padding-bottom: calc(var(--baseline) * 1.5);
                    text-transform: uppercase;
                }
            }

            &-blockquote {
                margin-bottom: calc(var(--baseline) * 2);
            }

            &-blockquote-text {
                font-family: var(--title);
                font-size: calc(var(--base-size) * 0.67);
                font-style: italic;
                text-align: justify;
            }

            &-blockquote-reference {
                font-family: var(--title);
                font-size: calc(var(--base-size) * 0.7);
                margin-top: calc(var(--baseline) * 0.3);
                float: right;
                text-transform: uppercase;
            }

            &-text {
                font-family: var(--title);
                font-size: calc(var(--base-size) * 0.67);
                text-align: justify;
                text-indent: var(--baseline);
            }
        }

        .page__number {
            position: absolute;
            bottom: var(--baseline);
            width: calc(100% - (var(--baseline) * 2));
            font-family: var(--title);
            font-size: calc(var(--base-size) * 0.67);
            text-align: center;
        }
    }

    input[type="radio"] {
        display: none;

        &:checked+.book__page {
            transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
            transform: rotateY(-180deg);
        }
    }
}
.book__page {
    background-image: linear-gradient(90deg, rgb(206 183 136 / 72%) 0%, rgb(247 247 247 / 0%) 18%);
}

.book__page--4 {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.book__page--2 {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.book__page--1 {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #0a0a0a;
    border-radius: 22px;
    width: 30px;
    height: 30px;
    margin-right: 17px;
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: "";
    display: block;
    width: 7px;
    height: 15px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: scale(2) rotate(45deg);
    position: absolute;
    top: -5px;
    left: 15px;
}

.cover p {
    font-size: 1.15em;
}