.modal-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1040;
    display: none;

}

.modal-cover.modal-cover-active {
    display: block;
}

.modal-container {
    text-align: center;
    color: black;
    z-index: 1050;
    position: fixed;
    border: 5px solid rgb(26, 26, 26);
    border-radius: 30px;
    background: var(--secondary-color);
    min-height: 400px;
    
    display: none;
    text-align: center;
    
     
}
.modal-container-out {
    padding: 20px;
    text-align: center;
    color: black;
    z-index: 1050;
    position: fixed;
    border: 1px solid lightgray;
    border-radius: 6px;
    background: white;
    // width: 600px;
    min-height: 400px;
    left: 50%;
    top: 20%;
    margin-left: -300px;
    display: none;
     
    // new modal
    // animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}


.modal-container.modal-container-active {
    display: grid;
    animation: blowUpModal .5s cubic-bezier(0.65, 0.840, 0.440, 1.300) forwards;
}

.modal-container-out  {
    display: block;
    animation: blowUpModalTwo .5s cubic-bezier(0.65, 0.840, 0.440, 1.300) forwards;
}

.modal-body p {
    color: black !important;
    font-size: 16px !important;
}

.modal-body {
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;

    min-height: 80%;
    min-width: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
}
.modal-body img {

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.image {
    max-width: 40%;
}

.card-content {
    z-index: 1;
}

.modal-body .text-content {
    flex: 1;
    padding: 15px;
}

.modal-header {
    padding:15px;
}

@keyframes blowUpContent {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    99.9% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(0);
    }
}

@keyframes blowUpContentTwo {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
// in use
@keyframes blowUpModal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes blowUpModalTwo {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}