.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(31 20 7);

  /* min get scroll */
  height: 100vh; 

  /* background: linear-gradient(to top, black, transparent 70%); */
  /* -webkit-mask-image: linear-gradient(to bottom, black, transparent 40%);
  mask-image: linear-gradient(to bottom, black, transparent 90%); */
}
