

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2F2F2B;
  --secondary-color: #EFE3C8;
  --black-olive: #3e3d37ff; 
  /* CSS HEX */
  --battleship-gray: #938D7Dff;
  --pearl: #E9DDC3ff;
  --jet-3: #30302Cff;

  /* CSS HEX */
    --khaki: #aba491ff;
    --jet: #2f2f2bff;
    --dun: #d3c9b1ff;
    --jet-2: #302f2bff;
    --pearl: #efe3c8ff;
}

/* font-family Celandine */